USE [master]
GO
/****** Object:  Database [Angularcapstone]    Script Date: 10/20/2020 11:37:30 PM ******/
CREATE DATABASE [Angularcapstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Angularcapstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Angularcapstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Angularcapstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Angularcapstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Angularcapstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Angularcapstone]
GO
/****** Object:  User [dbuser]    Script Date: 10/20/2020 11:37:30 PM ******/
CREATE USER [dbuser] FOR LOGIN [dbuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [dbuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [dbuser]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 10/20/2020 11:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[qID] [int] NOT NULL,
	[userID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QandA]    Script Date: 10/20/2020 11:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QandA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [nvarchar](1000) NOT NULL,
	[answer] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_QandA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Favorites] ([qID], [userID]) VALUES (1, N'test')
INSERT [dbo].[Favorites] ([qID], [userID]) VALUES (2, N'AngTest')
INSERT [dbo].[Favorites] ([qID], [userID]) VALUES (55, N'AngTest')
GO
SET IDENTITY_INSERT [dbo].[QandA] ON 

INSERT [dbo].[QandA] ([id], [question], [answer]) VALUES (1, N'What is your name?', N'Sir Launcelot of Camelot!')
INSERT [dbo].[QandA] ([id], [question], [answer]) VALUES (2, N'What is your quest?', N'To seek the Holy Grail!')
INSERT [dbo].[QandA] ([id], [question], [answer]) VALUES (3, N'What.... is your favorite color?', N'Blue')
SET IDENTITY_INSERT [dbo].[QandA] OFF
GO
USE [master]
GO
